@font-face {
  font-family: 'Amatic SC';
  src: url(#{$icon-font-path}/amatic/regular/AmaticSC-Regular.eot); /* IE9 Compat Modes */
  src: url(#{$icon-font-path}/amatic/regular/AmaticSC-Regular.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
  url(#{$icon-font-path}/amatic/regular/AmaticSC-Regular.woff) format('woff'), /* Modern Browsers */
  url(#{$icon-font-path}/amatic/regular/AmaticSC-Regular.ttf)  format('truetype'); /* Safari, Android, iOS */

  font-style:   normal;
  font-weight:  400;
}

