@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Raleway');

// Force the form autofill background to be white on Chrome.
input:-webkit-autofill { -webkit-box-shadow:0 0 0 500px white inset !important; }

html, body, #bridetobeekman {
  font-family: 'Raleway', Helvetica, sans-serif !important;
  height: 100%;
  margin: 0px;
}

input, textarea {
  // Firefox browser validation hack
  box-shadow: none;
}

a {
  border: none;
  color: inherit;
  text-decoration: none;
}

.clear {
  clear: both;
}

.material-icons {
  vertical-align: bottom;
}

.amatic {
  font-family: 'Amatic SC', cursive;
  font-weight: 400;
}

/*
 * IE Hacks
 */

input::-ms-clear, input::-ms-reveal{
  display: none;
}

// Target IE to respect aspect ratios and sizes for img tags containing SVG files
.ie9 img[src*=".svg"] {
  width: 100%;
}